@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


:root {
  --backgroundColor: #E4E3E3;
  --overshadow: #204051;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates';
}
